node-red.json
[
    {
        "id": "d5d530d7bc94744e",
        "type": "tab",
        "label": "SWAC Door",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a76867bb4114e849",
        "type": "group",
        "z": "d5d530d7bc94744e",
        "name": "Automatical/Manual control door",
        "style": {
            "label": true
        },
        "nodes": [
            "8072cdfe35a50f65",
            "eead2825af729a9d",
            "e804ac658912616b",
            "36a9d8285459bd30",
            "da34409900a20c28",
            "aae4a784474d4f50",
            "78e75c4438adc311",
            "bff3a525072bc2fa"
        ],
        "x": 54,
        "y": 1259,
        "w": 852,
        "h": 262
    },
    {
        "id": "42909f015936236f",
        "type": "group",
        "z": "d5d530d7bc94744e",
        "name": "People counting",
        "style": {
            "label": true
        },
        "nodes": [
            "2ba016d729819acd",
            "f0d3d85a1dd35ddf",
            "8d72bea56b3097d9",
            "712f4359a2e354db",
            "62632947bfc06772",
            "42df998736ca3925",
            "4161939c7fce10f4"
        ],
        "x": 54,
        "y": 1019,
        "w": 772,
        "h": 222
    },
    {
        "id": "ba46103d9f7ff19e",
        "type": "group",
        "z": "d5d530d7bc94744e",
        "name": "Security handle",
        "style": {
            "label": true
        },
        "nodes": [
            "33bf14f9d4fab59f",
            "4870ebf9959f0cbc",
            "dd20ecfaf40a1c4e",
            "dcce4dd5a76df812",
            "5c4347fc63673550",
            "6f6286e07127df8e",
            "16dcc6c33de14c4e",
            "dabc21a2bec1c002",
            "67fc918dee2892c6",
            "f23dbf8c41ba0db2",
            "481f56021e009b97",
            "274f1816ceec0344"
        ],
        "x": 54,
        "y": 1539,
        "w": 1152,
        "h": 322
    },
    {
        "id": "28861ab4365aae3e",
        "type": "group",
        "z": "d5d530d7bc94744e",
        "name": "Humid + temp handle",
        "style": {
            "label": true
        },
        "nodes": [
            "ce895c779c39ba38",
            "7fcca350e73ad60f",
            "f59858b3d1ed61d2",
            "1ea0270fdcc5ffc7",
            "9b29024e6585b630",
            "0e851c5337436a44",
            "5b96be9e55423975",
            "cbb4a9d1fdbe1c6e",
            "a6fc95cb7abbfca3",
            "aaa27640bd02e003",
            "bb0fbf0afcd3de53",
            "d3d76ffe2fdc8919",
            "c1593a60c4163141",
            "60d5124fa958533d",
            "5bc0943d1d5802ec",
            "68a443ec428a8569",
            "911a37b725f396b0",
            "813fb0655a90e6f5",
            "af9fe270e97d6143",
            "e6470499274d6c88",
            "0ccdb7f45b6bd484",
            "5e9f17aa7b402a1d"
        ],
        "x": 1794,
        "y": 79,
        "w": 932,
        "h": 582
    },
    {
        "id": "db30d5ede3e62f1e",
        "type": "group",
        "z": "d5d530d7bc94744e",
        "name": "Sign in, sign up, log out",
        "style": {
            "label": true
        },
        "nodes": [
            "07e7ce3a24f99a94",
            "97ec6bee9e519567",
            "9e5dad01eb852ded",
            "90322047aab01a44",
            "efd25d3c6117ecdf",
            "46509a2e1a9f1d56",
            "9965479613682301",
            "8f36c0426df8654b",
            "46686ea076b1d475",
            "cd2a047d1ba90195",
            "f3efbd609f9f5cc9",
            "8338cbe6d2457a04",
            "8ddaa54be8151c81",
            "78f264496698e7a0",
            "468a4841f00f6f50",
            "6d1b02b9a5b0cd0e",
            "0fd16c7441d0f9ab",
            "e4b3e4b3dc5ab3e6",
            "d05ce3ea0114b229",
            "4701f9b144a256e9",
            "4eddc232ad33b6a4",
            "cbd97392bfd2bd04",
            "1d0a47c047ce518e",
            "0c58b63fd3f5877a",
            "0dd4cf686b571274",
            "a83fa42897febcdd",
            "3407322e30759577",
            "d235d9d7c00d8065",
            "599cf2bb974b6f04",
            "6b7ffdb58ef2204e",
            "45e608a270f70434",
            "fb193598a7a26013",
            "ae9dfa7835d9f468",
            "1b3f01eb86316b52",
            "96e7827ddff046fb",
            "7b2a9da6b7868636",
            "a9dfca76d2af4c21"
        ],
        "x": 94,
        "y": 119,
        "w": 1492,
        "h": 762
    },
    {
        "id": "253b8515acfc6e59",
        "type": "group",
        "z": "d5d530d7bc94744e",
        "name": "Visual data from cloud",
        "style": {
            "label": true
        },
        "nodes": [
            "b0cb745366c20611",
            "9d02a979a67c9ed5",
            "1c8aae47084df385",
            "bbbec5407e7b3f47",
            "5677102b8e97db81",
            "89a5889ac3af3466",
            "9cd9f63eef3acb11",
            "d725e2ef69289bf6",
            "511586009716cda3",
            "cb7855078f72103d",
            "caa1822940cc720f",
            "17572a6e5c21a659",
            "4a1297b153b09060",
            "e5ebc152b246a35f",
            "7889ef8f4460f85a",
            "e376ad1c891c7c0b",
            "a9e1f06c2c9149a6",
            "d5e7f4a9a0bedf9e",
            "5ec85d290f11d13e",
            "ca277d6994ef04a5"
        ],
        "x": 54,
        "y": 1879,
        "w": 1192,
        "h": 322
    },
    {
        "id": "07e7ce3a24f99a94",
        "type": "ui_form",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Dashboard Sign-In",
        "label": "",
        "group": "97cab3367f63d18e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Tài khoản",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Mật khẩu",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Đăng nhập",
        "cancel": "",
        "topic": "signin",
        "topicType": "str",
        "splitLayout": false,
        "className": "color: red",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "1d0a47c047ce518e",
                "cbd97392bfd2bd04"
            ]
        ]
    },
    {
        "id": "97ec6bee9e519567",
        "type": "switch",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "90322047aab01a44"
            ],
            [
                "0dd4cf686b571274"
            ]
        ]
    },
    {
        "id": "9e5dad01eb852ded",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Success",
        "func": "/* ui-control payload */\nif (global.get(\"temp\")==true){\n    msg.payload = {\n        group: {\n            hide: [\"Home_SignIn\"],\n            show: [\"SWAC_Environment\",\n                \"SWAC_Security\",\n                \"SWAC_AdminInfo\",\n                \"SWAC_Automation\",\n                \"SWAC_People\",\n                \"SWAC_Envcontrol\",\n                \"SWAC_TemperatureC\",\n                \"Home_SignUp\"]\n        },\n        tabs: {\n            hide: \"Home\",\n            show: [\"SWAC\", \"History\"],\n            enable: [\"SWAC\", \"History\"],\n            disable: \"Home\"\n        },\n        tab: \"SWAC\"\n    };\n}\nelse {\n    msg.payload = {\n        group: {\n            hide: [\"Home_SignIn\"],\n            show: [\"SWAC_Environment\",\n                \"SWAC_Security\",\n                \"SWAC_AdminInfo\",\n                \"SWAC_Automation\",\n                \"SWAC_People\",\n                \"SWAC_Envcontrol\",\n                \"SWAC_TemperatureF\",\n                \"Home_SignUp\"]\n        },\n        tabs: {\n            hide: \"Home\",\n            show: [\"SWAC\", \"History\"],\n            enable: [\"SWAC\", \"History\"],\n            disable: \"Home\"\n        },\n        tab: \"SWAC\"\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 500,
        "wires": [
            [
                "46509a2e1a9f1d56"
            ]
        ]
    },
    {
        "id": "90322047aab01a44",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Unknown User",
        "func": "msg.payload = \"Tài khoản chưa đăng ký!\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 360,
        "wires": [
            [
                "9965479613682301"
            ]
        ]
    },
    {
        "id": "efd25d3c6117ecdf",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Wrong Password",
        "func": "msg.payload = \"Sai mật khẩu\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 440,
        "wires": [
            [
                "9965479613682301"
            ]
        ]
    },
    {
        "id": "46509a2e1a9f1d56",
        "type": "ui_ui_control",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Go to Sensor/History Group",
        "x": 1440,
        "y": 500,
        "wires": [
            [
                "0ccdb7f45b6bd484"
            ]
        ]
    },
    {
        "id": "9965479613682301",
        "type": "ui_toast",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Authentication failed",
        "name": "Sign in failed",
        "x": 1150,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8f36c0426df8654b",
        "type": "ui_button",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "group": "d3845188928617b5",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Đăng xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 800,
        "wires": [
            [
                "cd2a047d1ba90195",
                "ae9dfa7835d9f468"
            ]
        ]
    },
    {
        "id": "46686ea076b1d475",
        "type": "ui_ui_control",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Go back to log in",
        "events": "all",
        "x": 700,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8072cdfe35a50f65",
        "type": "ui_button",
        "z": "d5d530d7bc94744e",
        "g": "a76867bb4114e849",
        "name": "",
        "group": "68d7599ad402f684",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Đóng cửa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "close",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 1360,
        "wires": [
            [
                "e804ac658912616b",
                "36a9d8285459bd30"
            ]
        ]
    },
    {
        "id": "eead2825af729a9d",
        "type": "ui_button",
        "z": "d5d530d7bc94744e",
        "g": "a76867bb4114e849",
        "name": "",
        "group": "68d7599ad402f684",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Mở cửa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "open",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "e804ac658912616b",
                "36a9d8285459bd30"
            ]
        ]
    },
    {
        "id": "2ba016d729819acd",
        "type": "ui_chart",
        "z": "d5d530d7bc94744e",
        "g": "42909f015936236f",
        "name": "",
        "group": "61a37dae6a6ec1d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Biểu đồ số người ra vào",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "f0d3d85a1dd35ddf",
        "type": "ui_text",
        "z": "d5d530d7bc94744e",
        "g": "42909f015936236f",
        "group": "61a37dae6a6ec1d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Số người ra",
        "format": "{{msg.payload.getOut}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8d72bea56b3097d9",
        "type": "ui_text",
        "z": "d5d530d7bc94744e",
        "g": "42909f015936236f",
        "group": "61a37dae6a6ec1d5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Số người vào",
        "format": "{{msg.payload.getIn}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 1200,
        "wires": []
    },
    {
        "id": "e804ac658912616b",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "a76867bb4114e849",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "door/control",
        "pathType": "str",
        "priority": 1,
        "queryType": "set",
        "x": 530,
        "y": 1360,
        "wires": []
    },
    {
        "id": "712f4359a2e354db",
        "type": "firebase-in",
        "z": "d5d530d7bc94744e",
        "g": "42909f015936236f",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "listenerType": "value",
        "outputType": "auto",
        "path": "door/monitor",
        "useConstraint": false,
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "f0d3d85a1dd35ddf",
                "8d72bea56b3097d9",
                "4161939c7fce10f4"
            ]
        ]
    },
    {
        "id": "62632947bfc06772",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "42909f015936236f",
        "name": "Pase data to chart",
        "func": "var msg = global.get(\"people\",msg)\nvar msg1 = {}\nvar msg2 = {}\nmsg1.payload = msg.payload.getIn\nmsg1.topic = 'Số người ra'\nmsg2.payload = msg.payload.getOut\nmsg2.topic = 'Số người vào'\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1060,
        "wires": [
            [
                "2ba016d729819acd"
            ],
            [
                "2ba016d729819acd"
            ]
        ]
    },
    {
        "id": "42df998736ca3925",
        "type": "inject",
        "z": "d5d530d7bc94744e",
        "g": "42909f015936236f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "people",
        "payloadType": "global",
        "x": 180,
        "y": 1060,
        "wires": [
            [
                "62632947bfc06772"
            ]
        ]
    },
    {
        "id": "4161939c7fce10f4",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "42909f015936236f",
        "name": "Pase data to chart",
        "func": "global.set(\"people\",msg)\nvar msg1 = {}\nvar msg2 = {}\nmsg1.payload = msg.payload.getIn\nmsg1.topic = 'Số người ra'\nmsg2.payload = msg.payload.getOut\nmsg2.topic = 'Số người vào'\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "33bf14f9d4fab59f",
        "type": "firebase-in",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "listenerType": "value",
        "outputType": "auto",
        "path": "door/intruderAlert",
        "useConstraint": false,
        "x": 340,
        "y": 1660,
        "wires": [
            [
                "dcce4dd5a76df812"
            ]
        ]
    },
    {
        "id": "4870ebf9959f0cbc",
        "type": "http request",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "Send notification",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/alert_security/with/key/boH8pvjC6gnSUAvKQB0lzf?value1=\"Có trộm\"",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "dd20ecfaf40a1c4e",
        "type": "http request",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "Send mail",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/send_email_security/with/key/deJHx0lraAbccsnnE1TkqA2-srHO4gEgSW3OCA8jrEc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "dcce4dd5a76df812",
        "type": "switch",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 1660,
        "wires": [
            [
                "4870ebf9959f0cbc",
                "dd20ecfaf40a1c4e",
                "67fc918dee2892c6"
            ],
            []
        ]
    },
    {
        "id": "ce895c779c39ba38",
        "type": "ui_switch",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "label": "Hiển thị độ C",
        "tooltip": "",
        "group": "ce8c9cbcb548c080",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1970,
        "y": 460,
        "wires": [
            [
                "7fcca350e73ad60f"
            ]
        ]
    },
    {
        "id": "7fcca350e73ad60f",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "env/type",
        "pathType": "str",
        "priority": 1,
        "queryType": "set",
        "x": 2160,
        "y": 460,
        "wires": []
    },
    {
        "id": "f59858b3d1ed61d2",
        "type": "firebase-in",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "listenerType": "value",
        "outputType": "auto",
        "path": "door/tempAlert",
        "useConstraint": false,
        "x": 1900,
        "y": 580,
        "wires": [
            [
                "0e851c5337436a44"
            ]
        ]
    },
    {
        "id": "1ea0270fdcc5ffc7",
        "type": "http request",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Send notification",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/alert_temp/with/key/boH8pvjC6gnSUAvKQB0lzf",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2350,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "9b29024e6585b630",
        "type": "http request",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Send mail",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/send_email_temp/with/key/deJHx0lraAbccsnnE1TkqA2-srHO4gEgSW3OCA8jrEc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2320,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0e851c5337436a44",
        "type": "switch",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2130,
        "y": 580,
        "wires": [
            [
                "1ea0270fdcc5ffc7",
                "9b29024e6585b630",
                "d3d76ffe2fdc8919"
            ],
            []
        ]
    },
    {
        "id": "5c4347fc63673550",
        "type": "ui_switch",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "",
        "label": "Chế độ bảo mật",
        "tooltip": "",
        "group": "b65fcd2694fb0020",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 560,
        "y": 1780,
        "wires": [
            [
                "6f6286e07127df8e",
                "16dcc6c33de14c4e"
            ]
        ]
    },
    {
        "id": "6f6286e07127df8e",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "door/security",
        "pathType": "str",
        "priority": 1,
        "queryType": "set",
        "x": 790,
        "y": 1820,
        "wires": []
    },
    {
        "id": "5b96be9e55423975",
        "type": "ui_gauge",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Gauge : Temperature C",
        "group": "244f3d18a6bc98bd",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "Cảm biến nhiệt độ",
        "format": "{{msg.payload.temperature}}°C",
        "min": "-40",
        "max": "80",
        "colors": [
            "#66ccff",
            "#ff8000",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 2250,
        "y": 280,
        "wires": []
    },
    {
        "id": "cbb4a9d1fdbe1c6e",
        "type": "ui_gauge",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Gauge : Humidity",
        "group": "ce8c9cbcb548c080",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Độ ẩm",
        "label": "Cảm biến độ ẩm",
        "format": "{{msg.payload}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#1a25ab",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2230,
        "y": 240,
        "wires": []
    },
    {
        "id": "cd2a047d1ba90195",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Switch to Home",
        "func": "/* ui-control payload */\nmsg.payload = { group: {\n    show: [\"Home_SignIn\"],\n    hide: [\"SWAC_Environment\", \n        \"SWAC_TemperatureC\",\n        \"SWAC_TemperatureF\",\n    \"SWAC_Security\",\n    \"SWAC_AdminInfo\", \n    \"SWAC_Automation\",\n    \"SWAC_People\",\n    \"SWAC_Envcontrol\",\n    \"Home_SignUp\"]\n    },\n    tabs: {\n        show: \"Home\",\n        hide: [\"SWAC\",\"History\"],\n        disable: [\"SWAC\", \"History\"],\n        enable: \"Home\"\n    },\n    tab: \"Home\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 800,
        "wires": [
            [
                "46686ea076b1d475"
            ]
        ]
    },
    {
        "id": "36a9d8285459bd30",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "a76867bb4114e849",
        "name": "Store to cloud",
        "func": "if (msg.payload == \"auto\")\n    global.set(\"auto\", true)\nelse global.set(\"auto\",false)\nvar date = new Date();\nmsg.payload = {\n    day: date.toLocaleDateString(),\n    time: date.toLocaleTimeString(),\n    control: msg.payload,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1420,
        "wires": [
            [
                "bff3a525072bc2fa"
            ]
        ]
    },
    {
        "id": "16dcc6c33de14c4e",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "Store to cloud",
        "func": "global.set(\"security\", msg.payload)\nvar date = new Date();\nmsg.payload = {\n    day: date.toLocaleDateString(),\n    time: date.toLocaleTimeString(),\n    security: msg.payload,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1760,
        "wires": [
            [
                "dabc21a2bec1c002"
            ]
        ]
    },
    {
        "id": "a6fc95cb7abbfca3",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Show hide gauche ",
        "func": "global.set(\"temp\", msg.payload)\nif (msg.payload == false){\n    msg.payload = {\n        group: {\n            show: \"SWAC_TemperatureC\",\n            hide: \"SWAC_TemperatureF\"\n        }\n    }\n}\nelse {\n    msg.payload = {\n        group: {\n            hide: \"SWAC_TemperatureC\",\n            show: \"SWAC_TemperatureF\"\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 400,
        "wires": [
            [
                "bb0fbf0afcd3de53"
            ]
        ]
    },
    {
        "id": "aaa27640bd02e003",
        "type": "ui_gauge",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Gauge : Temperature F",
        "group": "6d94feaa18e4fd93",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "Cảm biến nhiệt độ",
        "format": "{{msg.payload.temperature}}°F",
        "min": "-40",
        "max": "176",
        "colors": [
            "#66ccff",
            "#ff8000",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 2250,
        "y": 320,
        "wires": []
    },
    {
        "id": "bb0fbf0afcd3de53",
        "type": "ui_ui_control",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "events": "all",
        "x": 2300,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "da34409900a20c28",
        "type": "ui_button",
        "z": "d5d530d7bc94744e",
        "g": "a76867bb4114e849",
        "name": "",
        "group": "68d7599ad402f684",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Chế độ tự động",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "auto",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1420,
        "wires": [
            [
                "e804ac658912616b",
                "36a9d8285459bd30"
            ]
        ]
    },
    {
        "id": "aae4a784474d4f50",
        "type": "ui_text",
        "z": "d5d530d7bc94744e",
        "g": "a76867bb4114e849",
        "group": "68d7599ad402f684",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Trạng thái cửa",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 1480,
        "wires": []
    },
    {
        "id": "78e75c4438adc311",
        "type": "firebase-in",
        "z": "d5d530d7bc94744e",
        "g": "a76867bb4114e849",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "listenerType": "value",
        "outputType": "auto",
        "path": "door/control",
        "useConstraint": false,
        "x": 150,
        "y": 1480,
        "wires": [
            [
                "aae4a784474d4f50"
            ]
        ]
    },
    {
        "id": "f3efbd609f9f5cc9",
        "type": "ui_form",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Dashboard Sign-Up",
        "label": "",
        "group": "d7d9b928c8241515",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Tài khoản",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Mật khẩu",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Đăng ký",
        "cancel": "",
        "topic": "signup",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "8ddaa54be8151c81",
                "6d1b02b9a5b0cd0e"
            ]
        ]
    },
    {
        "id": "8338cbe6d2457a04",
        "type": "firebase-get",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "outputType": "auto",
        "passThrough": true,
        "path": "user",
        "pathType": "str",
        "useConstraint": false,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "d05ce3ea0114b229"
            ]
        ]
    },
    {
        "id": "8ddaa54be8151c81",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Create method",
        "func": "msg.method = {\n    orderByKey: null,\n    equalTo: {\n        value: msg.payload.username,\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "8338cbe6d2457a04"
            ]
        ]
    },
    {
        "id": "78f264496698e7a0",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Existing account",
        "func": "msg.payload = \"Tài khoản đã được đăng ký, vui lòng đăng nhập\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 260,
        "wires": [
            [
                "468a4841f00f6f50"
            ]
        ]
    },
    {
        "id": "468a4841f00f6f50",
        "type": "ui_toast",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Sign up failed",
        "name": "Account already exists",
        "x": 1220,
        "y": 260,
        "wires": []
    },
    {
        "id": "6d1b02b9a5b0cd0e",
        "type": "join",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 910,
        "y": 160,
        "wires": [
            [
                "0fd16c7441d0f9ab",
                "4701f9b144a256e9"
            ]
        ]
    },
    {
        "id": "0fd16c7441d0f9ab",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Store to cloud",
        "func": "var date = new Date();\nvar signup = msg.payload.signup;\nif (msg.database == null){\n    msg= {\n        payload: {\n           \"password\": signup.password,\n            \"createOn\": {\n                day: date.toLocaleDateString(),\n                time: date.toLocaleTimeString()\n            } \n        },\n        topic: `user/${signup.username}`,\n        method: \"set\"\n        \n    };\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "e4b3e4b3dc5ab3e6"
            ]
        ]
    },
    {
        "id": "e4b3e4b3dc5ab3e6",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "topic",
        "pathType": "msg",
        "priority": 1,
        "queryType": "none",
        "x": 1310,
        "y": 160,
        "wires": []
    },
    {
        "id": "d05ce3ea0114b229",
        "type": "switch",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "6d1b02b9a5b0cd0e"
            ],
            [
                "78f264496698e7a0"
            ]
        ]
    },
    {
        "id": "4701f9b144a256e9",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Create notification",
        "func": "msg.payload = \"Tài khoản đã được đăng ký thành công, vui lòng đăng nhập\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "4eddc232ad33b6a4"
            ]
        ]
    },
    {
        "id": "4eddc232ad33b6a4",
        "type": "ui_toast",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Đăng ký thành công",
        "name": "Sign up success",
        "x": 1320,
        "y": 220,
        "wires": []
    },
    {
        "id": "cbd97392bfd2bd04",
        "type": "join",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "a83fa42897febcdd"
            ]
        ]
    },
    {
        "id": "1d0a47c047ce518e",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Create method",
        "func": "msg.topic = `user/${msg.payload.username}`\nglobal.set(\"user\",msg.payload.username)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "0c58b63fd3f5877a"
            ]
        ]
    },
    {
        "id": "0c58b63fd3f5877a",
        "type": "firebase-get",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "outputType": "auto",
        "passThrough": false,
        "path": "topic",
        "pathType": "msg",
        "useConstraint": false,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "97ec6bee9e519567"
            ]
        ]
    },
    {
        "id": "0dd4cf686b571274",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "DTB existing account",
        "func": "const key = Object.keys(msg.payload)\nmsg.topic = \"database\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 420,
        "wires": [
            [
                "cbd97392bfd2bd04"
            ]
        ]
    },
    {
        "id": "a83fa42897febcdd",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Check password",
        "func": "const signin = msg.payload.signin.password;\nconst username = msg.payload.signin.username;\nconst database = msg.payload.database.password;\nmsg.payload = signin==database;\nglobal.set(\"user\", username);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 500,
        "wires": [
            [
                "3407322e30759577"
            ]
        ]
    },
    {
        "id": "3407322e30759577",
        "type": "switch",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 500,
        "wires": [
            [
                "9e5dad01eb852ded",
                "7b2a9da6b7868636"
            ],
            [
                "efd25d3c6117ecdf"
            ]
        ]
    },
    {
        "id": "d235d9d7c00d8065",
        "type": "ui_button",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Đăng ký",
        "group": "97cab3367f63d18e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Đăng ký",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 740,
        "wires": [
            [
                "599cf2bb974b6f04"
            ]
        ]
    },
    {
        "id": "599cf2bb974b6f04",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Switch to Sign up",
        "func": "msg.payload = {\n    group: {\n        show: \"Home_SignUp\",\n        hide: \"Home_SignIn\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "46686ea076b1d475"
            ]
        ]
    },
    {
        "id": "6b7ffdb58ef2204e",
        "type": "ui_button",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Đăng nhập",
        "group": "d7d9b928c8241515",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Đăng nhập",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 680,
        "wires": [
            [
                "45e608a270f70434"
            ]
        ]
    },
    {
        "id": "45e608a270f70434",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Switch to Sign in",
        "func": "msg.payload = {\n    group: {\n        show: \"Home_SignIn\",\n        hide: \"Home_SignUp\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 680,
        "wires": [
            [
                "46686ea076b1d475"
            ]
        ]
    },
    {
        "id": "a9dfca76d2af4c21",
        "type": "inject",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"show\":\"Home_SignIn\",\"hide\":[\"SWAC_TemperatureC\",\"SWAC_TemperatureF\",\"Home_SignUp\"]},\"tabs\":{\"show\":\"Home\",\"hide\":[\"SWAC\",\"History\"],\"enable\":[\"Home\",\"SWAC\",\"History\"]},\"tab\":\"Home\"}",
        "payloadType": "json",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "fb193598a7a26013"
            ]
        ]
    },
    {
        "id": "fb193598a7a26013",
        "type": "ui_ui_control",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ae9dfa7835d9f468",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Store to cloud",
        "func": "var date = new Date();\nconst username = global.get(\"user\");\nmsg = {\n    payload: {\n        day: date.toLocaleDateString(),\n        time: date.toLocaleTimeString(),\n        action: \"log out\"\n    },\n    method: \"push\",\n    topic: `user/${username}/history`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 840,
        "wires": [
            [
                "1b3f01eb86316b52"
            ]
        ]
    },
    {
        "id": "1b3f01eb86316b52",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "topic",
        "pathType": "msg",
        "priority": 1,
        "queryType": "none",
        "x": 660,
        "y": 840,
        "wires": []
    },
    {
        "id": "96e7827ddff046fb",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "topic",
        "pathType": "msg",
        "priority": 1,
        "queryType": "none",
        "x": 1390,
        "y": 540,
        "wires": []
    },
    {
        "id": "7b2a9da6b7868636",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "db30d5ede3e62f1e",
        "name": "Store to cloud",
        "func": "var date = new Date();\nconst username=global.get(\"user\");\nmsg = {\n    payload: {\n        day: date.toLocaleDateString(),\n        time: date.toLocaleTimeString(),\n        action: \"sign in\"\n    },\n    method: \"push\",\n    topic: `user/${username}/history`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 540,
        "wires": [
            [
                "96e7827ddff046fb"
            ]
        ]
    },
    {
        "id": "bff3a525072bc2fa",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "a76867bb4114e849",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "history/door/control",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 770,
        "y": 1420,
        "wires": []
    },
    {
        "id": "dabc21a2bec1c002",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "history/door/security",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 1060,
        "y": 1760,
        "wires": []
    },
    {
        "id": "d3d76ffe2fdc8919",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Store to cloud",
        "func": "var date = new Date();\nmsg.payload = {\n    day: date.toLocaleDateString(),\n    time: date.toLocaleTimeString(),\n    alert: \"temperature\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 620,
        "wires": [
            [
                "c1593a60c4163141"
            ]
        ]
    },
    {
        "id": "c1593a60c4163141",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "history/door/alert",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 2590,
        "y": 620,
        "wires": []
    },
    {
        "id": "67fc918dee2892c6",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "Store to cloud",
        "func": "var date = new Date();\nmsg.payload = {\n    day: date.toLocaleDateString(),\n    time: date.toLocaleTimeString(),\n    alert: \"intruder\",\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1580,
        "wires": [
            [
                "f23dbf8c41ba0db2"
            ]
        ]
    },
    {
        "id": "f23dbf8c41ba0db2",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "",
        "database": "6da462339e6c5f48",
        "path": "history/door/alert",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 1010,
        "y": 1580,
        "wires": []
    },
    {
        "id": "60d5124fa958533d",
        "type": "inject",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1930,
        "y": 120,
        "wires": [
            [
                "911a37b725f396b0"
            ]
        ]
    },
    {
        "id": "5bc0943d1d5802ec",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "PUSH to history/env",
        "database": "6da462339e6c5f48",
        "path": "topic",
        "pathType": "msg",
        "priority": 1,
        "queryType": "none",
        "x": 2600,
        "y": 120,
        "wires": []
    },
    {
        "id": "68a443ec428a8569",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Store to cloud",
        "func": "var date = new Date();\nmsg = {\n    payload: msg.payload.humidity,\n    topic: `history/humidity/${date.valueOf()}`,\n    method: \"set\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 120,
        "wires": [
            [
                "5bc0943d1d5802ec"
            ]
        ]
    },
    {
        "id": "911a37b725f396b0",
        "type": "firebase-get",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "outputType": "auto",
        "passThrough": false,
        "path": "env",
        "pathType": "str",
        "useConstraint": false,
        "x": 2130,
        "y": 120,
        "wires": [
            [
                "68a443ec428a8569",
                "813fb0655a90e6f5"
            ]
        ]
    },
    {
        "id": "813fb0655a90e6f5",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "Store to cloud",
        "func": "var date = new Date();\nvar value2;\nif (msg.payload.type) value2 = msg.payload.temperature*9/5+32;\nelse value2 = msg.payload.temperature;\nmsg = {\n    payload: value2,\n    topic: `history/temperature/${date.valueOf()}`,\n    method: \"set\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 160,
        "wires": [
            [
                "af9fe270e97d6143"
            ]
        ]
    },
    {
        "id": "af9fe270e97d6143",
        "type": "firebase-out",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "PUSH to history/env",
        "database": "6da462339e6c5f48",
        "path": "topic",
        "pathType": "msg",
        "priority": 1,
        "queryType": "none",
        "x": 2600,
        "y": 160,
        "wires": []
    },
    {
        "id": "481f56021e009b97",
        "type": "firebase-get",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "GET init door/security",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "outputType": "auto",
        "passThrough": false,
        "path": "door/security",
        "pathType": "str",
        "useConstraint": false,
        "x": 360,
        "y": 1780,
        "wires": [
            [
                "5c4347fc63673550"
            ]
        ]
    },
    {
        "id": "274f1816ceec0344",
        "type": "inject",
        "z": "d5d530d7bc94744e",
        "g": "ba46103d9f7ff19e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1780,
        "wires": [
            [
                "481f56021e009b97"
            ]
        ]
    },
    {
        "id": "b0cb745366c20611",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "Parse data",
        "func": "var day1 = new Date();\nvar day2 = new Date(day1);\nday1.setHours(0,0,0,0);\nday2.setHours(1,0,0,0);\nconst hour = day2.valueOf() - day1.valueOf();\nvar data = Object.entries(msg.payload);\ndata = data.map((item) => {\n    var day = new Date(Number(item[0]));\n    const payload = {\n        hour: day.getHours(),\n        value: item[1]\n    }\n    return payload;\n})\nmsg.payload = data;\nconst time = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23];\nvar res = [];\ntime.forEach((ti) => {\n    var sum =0;\n    var cnt = 0;\n    data.forEach(item => {\n        if (item.hour == ti){\n            sum = sum + item[\"value\"];\n            cnt = cnt + 1;\n        }\n    })\n    if (cnt ==0) {\n        res.push({\n            payload: Math.random()*100,\n            label: `${ti}:00`,\n            topic: `${ti}:00`\n        })\n    }else\n    res.push({\n        payload: sum / cnt,\n        label: `${ti}:00`,\n        topic: `${ti}:00`\n    })\n})\nmsg=[res];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1920,
        "wires": [
            [
                "9d02a979a67c9ed5"
            ]
        ]
    },
    {
        "id": "9d02a979a67c9ed5",
        "type": "ui_chart",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "group": "89a909d1ab3a3699",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Độ ẩm (%)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "1c8aae47084df385",
        "type": "inject",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 2000,
        "wires": [
            [
                "5677102b8e97db81"
            ]
        ]
    },
    {
        "id": "bbbec5407e7b3f47",
        "type": "firebase-get",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "outputType": "auto",
        "passThrough": true,
        "path": "history/humidity",
        "pathType": "str",
        "useConstraint": false,
        "x": 700,
        "y": 1920,
        "wires": [
            [
                "b0cb745366c20611"
            ]
        ]
    },
    {
        "id": "5677102b8e97db81",
        "type": "ui_date_picker",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "label": "Chọn ngày",
        "group": "93e912a6d51d543f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 330,
        "y": 2000,
        "wires": [
            [
                "89a5889ac3af3466"
            ]
        ]
    },
    {
        "id": "89a5889ac3af3466",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "Filter time",
        "func": "var day1 = new Date(msg.payload);\nday1.setHours(0,0,0,0);\nvar day2 = new Date(msg.payload);\nday2.setHours(23,59,59,999);\nmsg = {\n    method: {\n        orderByKey: null,\n        endAt: {\n            value: String(day2.valueOf()),\n        },\n        startAt: {\n            value: String(day1.valueOf()),\n        }\n    },\n    payload: [day1.valueOf(),day2.valueOf()]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2000,
        "wires": [
            [
                "511586009716cda3"
            ]
        ]
    },
    {
        "id": "9cd9f63eef3acb11",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "Parse data",
        "func": "var data = Object.entries(msg.payload);\ndata = data.map((item) => {\n    var day = new Date(Number(item[0]));\n    const payload = {\n        hour: day.getHours(),\n        value: item[1]\n    }\n    return payload;\n})\nmsg.payload = data;\nconst time = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23];\nvar res = [];\ntime.forEach((ti) => {\n    var sum =0;\n    var cnt = 0;\n    data.forEach(item => {\n        if (item.hour == ti){\n            sum = sum + item[\"value\"];\n            cnt = cnt + 1;\n        }\n    })\n    if (cnt ==0) {\n        res.push({\n            payload: Math.random()*100,\n            label: `${ti}:00`,\n            topic: `${ti}:00`\n        })\n    }else\n    res.push({\n        payload: sum / cnt,\n        label: `${ti}:00`,\n        topic: `${ti}:00`\n    })\n})\nmsg=[res];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 2000,
        "wires": [
            [
                "d725e2ef69289bf6"
            ]
        ]
    },
    {
        "id": "d725e2ef69289bf6",
        "type": "ui_chart",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "group": "93e912a6d51d543f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Nhiệt độ (F)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "176",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "511586009716cda3",
        "type": "firebase-get",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "outputType": "auto",
        "passThrough": true,
        "path": "history/temperature",
        "pathType": "str",
        "useConstraint": false,
        "x": 690,
        "y": 2000,
        "wires": [
            [
                "9cd9f63eef3acb11"
            ]
        ]
    },
    {
        "id": "cb7855078f72103d",
        "type": "inject",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1920,
        "wires": [
            [
                "caa1822940cc720f"
            ]
        ]
    },
    {
        "id": "caa1822940cc720f",
        "type": "ui_date_picker",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "label": "Chọn ngày",
        "group": "89a909d1ab3a3699",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 330,
        "y": 1920,
        "wires": [
            [
                "17572a6e5c21a659"
            ]
        ]
    },
    {
        "id": "17572a6e5c21a659",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "Filter time",
        "func": "var day1 = new Date(msg.payload);\nday1.setHours(0,0,0,0);\nvar day2 = new Date(msg.payload);\nday2.setHours(23,59,59,999);\nmsg = {\n    method: {\n        orderByKey: null,\n        endAt: {\n            value: String(day2.valueOf()),\n        },\n        startAt: {\n            value: String(day1.valueOf()),\n        }\n    },\n    payload: [day1.valueOf(),day2.valueOf()]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1920,
        "wires": [
            [
                "bbbec5407e7b3f47"
            ]
        ]
    },
    {
        "id": "4a1297b153b09060",
        "type": "ui_date_picker",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "label": "Chọn ngày",
        "group": "dea4679cbc552d0e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 350,
        "y": 2080,
        "wires": [
            [
                "e376ad1c891c7c0b"
            ]
        ]
    },
    {
        "id": "e5ebc152b246a35f",
        "type": "inject",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 2080,
        "wires": [
            [
                "4a1297b153b09060"
            ]
        ]
    },
    {
        "id": "7889ef8f4460f85a",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "get current time",
        "func": "var day = new Date();\nmsg.payload = day.valueOf();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 2160,
        "wires": [
            [
                "4a1297b153b09060",
                "5677102b8e97db81",
                "caa1822940cc720f"
            ]
        ]
    },
    {
        "id": "e376ad1c891c7c0b",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "Filter time",
        "func": "var day = new Date(msg.payload);\nmsg = {\n    method: {\n        orderByChild: \"day\",\n        equalTo: {\n            value: day.toLocaleDateString()\n        }\n    },\n    topic: `user/${global.get(\"user\")}/history`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 2080,
        "wires": [
            [
                "d5e7f4a9a0bedf9e"
            ]
        ]
    },
    {
        "id": "a9e1f06c2c9149a6",
        "type": "complete",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "scope": [
            "9e5dad01eb852ded"
        ],
        "uncaught": false,
        "x": 210,
        "y": 2160,
        "wires": [
            [
                "7889ef8f4460f85a"
            ]
        ]
    },
    {
        "id": "d5e7f4a9a0bedf9e",
        "type": "firebase-get",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "outputType": "auto",
        "passThrough": true,
        "path": "topic",
        "pathType": "msg",
        "useConstraint": false,
        "x": 710,
        "y": 2080,
        "wires": [
            [
                "5ec85d290f11d13e"
            ]
        ]
    },
    {
        "id": "5ec85d290f11d13e",
        "type": "function",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "name": "Parse data",
        "func": "var data = Object.values(msg.payload);\nmsg.payload=data.filter(item=> {\n    return {\n        action: item.action,\n        time: item.time\n    }\n})\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 2080,
        "wires": [
            [
                "ca277d6994ef04a5"
            ]
        ]
    },
    {
        "id": "ca277d6994ef04a5",
        "type": "ui_template",
        "z": "d5d530d7bc94744e",
        "g": "253b8515acfc6e59",
        "group": "dea4679cbc552d0e",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<ul>\n    <li ng-repeat=\"x in msg.payload\">\n        <div>{{x.time}} - {{x.action}}</div>\n    </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "e6470499274d6c88",
        "type": "firebase-in",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "listenerType": "value",
        "outputType": "auto",
        "path": "env",
        "useConstraint": false,
        "x": 1950,
        "y": 300,
        "wires": [
            [
                "5b96be9e55423975",
                "aaa27640bd02e003"
            ]
        ]
    },
    {
        "id": "0ccdb7f45b6bd484",
        "type": "firebase-get",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "outputType": "auto",
        "passThrough": false,
        "path": "env/type",
        "pathType": "str",
        "useConstraint": false,
        "x": 1960,
        "y": 400,
        "wires": [
            [
                "a6fc95cb7abbfca3"
            ]
        ]
    },
    {
        "id": "5e9f17aa7b402a1d",
        "type": "firebase-in",
        "z": "d5d530d7bc94744e",
        "g": "28861ab4365aae3e",
        "name": "",
        "constraint": {},
        "database": "6da462339e6c5f48",
        "listenerType": "value",
        "outputType": "auto",
        "path": "env/humidity",
        "useConstraint": false,
        "x": 1970,
        "y": 240,
        "wires": [
            [
                "cbb4a9d1fdbe1c6e"
            ]
        ]
    },
    {
        "id": "97cab3367f63d18e",
        "type": "ui_group",
        "name": "SignIn",
        "tab": "c47395993386e3e7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3845188928617b5",
        "type": "ui_group",
        "name": "AdminInfo",
        "tab": "26e4f99dd4688824",
        "order": 5,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68d7599ad402f684",
        "type": "ui_group",
        "name": "Automation",
        "tab": "26e4f99dd4688824",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61a37dae6a6ec1d5",
        "type": "ui_group",
        "name": "People",
        "tab": "26e4f99dd4688824",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6da462339e6c5f48",
        "type": "database-config",
        "name": "SWACDoor",
        "authType": "anonymous",
        "claims": {},
        "createUser": true,
        "useClaims": false
    },
    {
        "id": "ce8c9cbcb548c080",
        "type": "ui_group",
        "name": "Environment",
        "tab": "26e4f99dd4688824",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b65fcd2694fb0020",
        "type": "ui_group",
        "name": "Security",
        "tab": "26e4f99dd4688824",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "244f3d18a6bc98bd",
        "type": "ui_group",
        "name": "TemperatureC",
        "tab": "26e4f99dd4688824",
        "order": 7,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d94feaa18e4fd93",
        "type": "ui_group",
        "name": "TemperatureF",
        "tab": "26e4f99dd4688824",
        "order": 6,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7d9b928c8241515",
        "type": "ui_group",
        "name": "SignUp",
        "tab": "c47395993386e3e7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89a909d1ab3a3699",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "096cb6870a60dc01",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93e912a6d51d543f",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "096cb6870a60dc01",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dea4679cbc552d0e",
        "type": "ui_group",
        "name": "Account",
        "tab": "096cb6870a60dc01",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c47395993386e3e7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "26e4f99dd4688824",
        "type": "ui_tab",
        "name": "SWAC",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "096cb6870a60dc01",
        "type": "ui_tab",
        "name": "History",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]